.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
}
.green-back{
    background-color: aquamarine;
}
.blue-back{
    background-color: var(--vivblue);
}

.options{
    display: flex;
    gap: 20px;
    align-items: center;
}
.option{    
    border: 1px solid var(--spacecad);
    box-shadow: 1px 1px var(--spacecad);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.option:hover{
    cursor: pointer;
    background-color: rgba(223,221,221,0.5);
    box-shadow: 2px 2px 2px 2px var(--spacecad);
}
.user-logout{
    align-items: center;
    display: flex;
    font-size: 18px;
    gap:5px;
}
.logout:hover{
    cursor: pointer;
    box-shadow: 0px 1px var(--spacecad);
}