:root{
  --vivblue: #57C4E5;
  --cultured: #EDF2EF;
  --spacecad: #212738;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: inherit;
  color: inherit;
}

.gradblue{
  background: linear-gradient(319deg, rgba(2,0,36,0.87718837535014) 23%, rgba(87,196,229,1) 53%, rgba(87,196,229,0.989233193277311) 75%, rgba(0,212,255,1) 100%);
}
.gradgreen{
  background: linear-gradient(319deg, rgba(9,60,57,0.9332107843137255) 29%, rgba(11,102,97,1) 61%, rgba(7,156,148,1) 100%);
}

.img-circle{
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.valida-img{
  background-image: url("./Components/Assets/validaimg.png");
  background-color: rgba(7,156,148,1);
  border-radius: 50%;
}
.instit-img{
  background-image: url("./Components/Assets/instimg.png");
}

.card{
  padding: 25px;
  /* background-color: white; */
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px 5px 5px 5px rgba(2,0,36,0.87718837535014);
}