.wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--spacedcad);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper :global(.card){
    background-color: white;
}
.log-form{
    font-size: 18px;
    display:  flex;
    flex-direction:  column;
    row-gap: 15px;
}
.form-section{
    display: flex;
    flex-direction: column;
}
.name-section{
    display: flex;
    gap: 30px;
}
input{
    height: 25px;
    background-color: inherit;
}
input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
input[type=submit]{
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    align-self: center;
    cursor: pointer;
}
.edit-div{
    align-items: center;
    display: flex;
    font-size: 18px;
    gap:5px;
    cursor: pointer;
}